<div class="container">
  <h1>Sample Todo</h1>
  <div>
    <input type="text" ng-model="todo.title"><button class="btn btn-success" ng-click="todo.addTodo()">Add</button>
    <ul>
        <li ng-repeat="t in todo.todos">{{t}}<button class="btn btn-danger" ng-click="todo.deleteTodo($index)">Delete</button></li>
    </ul>
  </div>

   <todo-list-directive header="Waiting" status-type="0" todo-list="todo.todos"></todo-list-directive>
   <todo-list-directive header="Working" status-type="1" todo-list="todo.todos"></todo-list-directive>
</div>
